@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Catamaran:wght@100..900&family=Geologica:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{ height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: row;
}

.asideHome{
    width: 20vw;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.logo{
    display: flex;
    flex-direction: row;
    gap:15px;
    margin-top: 1em;
    margin-left: 0.7em;
    align-items: center;
    font-family: 'Geologica',sans-serif;
    font-size: 17px;
    margin-bottom: 2em;
}
.asideHome p{
    font-family: 'Catamaran', serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
} 
.fa-car-on{
    margin-top: -8px;
    font-size: xxx-large;
    color:#c06164;
}
.menu ul{
    list-style: none;
    
    margin-top: 1.8em;
    margin-left: 0.4em;
    font-family: 'Catamaran', serif;
    font-size: 16px;
    
    
}
.menu .options{
    display: flex;
    flex-direction: row;
    color: #671811;
    margin-bottom: 1.6em;
    border-left: 3px solid #671811;
    height: 6vh;
    padding-left: 0.8em;
    align-items: center;
    
}


.menu .options a{
    padding-left: 0.5em;
    text-decoration: none;
    color:black;
    
}
.menu ul :hover{
    cursor: pointer;
    background-color: #f19e82aa;
}
.seccionPrincipal{
    
    width: 80vw;
    height: 100vh;
}
.seccionPrincipal h1{
    background-color: #c0616433;
    height: 10vh;
    font-family: 'Geologica',sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    color:#671811;
}
.seccionPrincipal{
    display: flex;
    flex-direction: column;

    
}
.Reservas{
    display: flex;
    margin-top: 7em;
    margin-left: 5em;
    width: 340px;
    height: 365px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reserva {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reserva  .openModal{
    margin-left: 1em;
    color: white;
    font-weight: bolder;
    height: 5vh;
    align-self: center;
    border: none;
    width: 160px;
    border-radius: 7px;
    background-color: rgb(240, 130, 130);
}

.encabezado {
    font-family: 'Catamaran', serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:black;
}

.Reservas h6{
    font-family: 'Catamaran', serif;
    font-size: 14px;
    color:#c06164;
    margin: 2px 18px;
}

.Reservas #openModal{
    color:white;
    background-color: #c06164;
    font-family: 'Catamaran', serif;
    font-size: 14px;
    height: 30px;
    border: none;
    width: 160px;
    align-self: center;
    font-weight: bold;
}
.Reservas #openModal:hover{
    cursor: pointer;
}
.hidden {
    display: none;
}
.show {
    display: flex;
}
.modalCart{
  
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: #05050549;
    
}

.modalCart .contenidoModal {
    display: flex;
    flex-direction: column;
    position:relative;
    top:1em;
    left: 11em;
    background-color: white;
    width: 70vw;
   
}

.contenidoModal{
    display: flex;
    flex-direction: column;
    font-family: 'Catamaran', serif;
    font-size: 20px;
    padding: 20px 20px;
}
